In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
customer_df = pd.read_csv ('Data/telecom.csv')

In [3]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

How lucky!  We don't have to impute data! We have a clean dataset!  This will make our process much easier going forward.  Now to figure out what all of these columns contain.

In [4]:
customer_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Looks like we have columns of data for various phone accounts.  We can see the state in which the person lives, the phone number, area code, and details of their plan.

Now we need to figure out consistent themes/patterns in accoutns that churned versus accounts that renewed.

First thing I'm interested in is just how many accounts churned.  In subscription services, churn refers to the rate at a customer stops using a service.  So we can assume every True value is a customer cancelling their subscription.

We can also assume that the account length is how many months the account has been active.

In [12]:
churn_counts = customer_df['churn'].value_counts()
true_count = churn_counts[True]
false_count = churn_counts[False]

print("Number of times 'True' occurs in the 'churn' column:", true_count)
print("Number of times 'False' occurs in the 'churn' column:", false_count)

Number of times 'True' occurs in the 'churn' column: 483
Number of times 'False' occurs in the 'churn' column: 2850

Lot's of happy customers!

And we can see that 483 + 2850 = 3333, so we aren't missing any values.

For the sake of our model, it will be easier to convert our categorical variables into a numerical format.  To make it simple, 1 will be yes and 0 will be no for columns:

- International Plan
- Voicemail Plan

And for the Churn column, we will assume 0 is customer who kept their subscription and 1 is a customer who churned.

In [15]:
customer_df.replace({'no': 0, 'yes':1, 'false':0, 'true':1}, inplace=True)
customer_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [17]:
# Replace True with 1 and False with 0 directly
customer_df['churn'] = customer_df['churn'].astype(int)

# Print the DataFrame to verify the changes
print(customer_df)

     state  account length  area code phone number  international plan  \
0       KS             128        415     382-4657                   0
1       OH             107        415     371-7191                   0
2       NJ             137        415     358-1921                   0
3       OH              84        408     375-9999                   1
4       OK              75        415     330-6626                   1
...    ...             ...        ...          ...                 ...
3328    AZ             192        415     414-4276                   0
3329    WV              68        415     370-3271                   0
3330    RI              28        510     328-8230                   0
3331    CT             184        510     364-6381                   1
3332    TN              74        415     400-4344                   0

      voice mail plan  number vmail messages  total day minutes  \
0                   1                     25              265.1
1                   1                     26              161.6
2                   0                      0              243.4
3                   0                      0              299.4
4                   0                      0              166.7
...               ...                    ...                ...
3328                1                     36              156.2
3329                0                      0              231.1
3330                0                      0              180.8
3331                0                      0              213.8
3332                1                     25              234.4

      total day calls  total day charge  total eve minutes  total eve calls  \
0                 110             45.07              197.4               99
1                 123             27.47              195.5              103
2                 114             41.38              121.2              110
3                  71             50.90               61.9               88
4                 113             28.34              148.3              122
...               ...               ...                ...              ...
3328               77             26.55              215.5              126
3329               57             39.29              153.4               55
3330              109             30.74              288.8               58
3331              105             36.35              159.6               84
3332              113             39.85              265.9               82

      total eve charge  total night minutes  total night calls  \
0                16.78                244.7                 91
1                16.62                254.4                103
2                10.30                162.6                104
3                 5.26                196.9                 89
4                12.61                186.9                121
...                ...                  ...                ...
3328             18.32                279.1                 83
3329             13.04                191.3                123
3330             24.55                191.9                 91
3331             13.57                139.2                137
3332             22.60                241.4                 77

      total night charge  total intl minutes  total intl calls  \
0                  11.01                10.0                 3
1                  11.45                13.7                 3
2                   7.32                12.2                 5
3                   8.86                 6.6                 7
4                   8.41                10.1                 3
...                  ...                 ...               ...
3328               12.56                 9.9                 6
3329                8.61                 9.6                 4
3330                8.64                14.1                 6
3331                6.26                 5.0                10
3332               10.86                13.7                 4

      total intl charge  customer service calls  churn
0                  2.70                       1      0
1                  3.70                       1      0
2                  3.29                       0      0
3                  1.78                       2      0
4                  2.73                       3      0
...                 ...                     ...    ...
3328               2.67                       2      0
3329               2.59                       3      0
3330               3.81                       2      0
3331               1.35                       2      0
3332               3.70                       0      0

[3333 rows x 21 columns]